In [1]:
print("Hello Sir")

Hello Sir

In [6]:
print("Back Slash")
print("Hello \
       Sir")

Back Slash
Hello        Sir

In [12]:
print("Triple Quotes")

print("""ฅ^•ﻌ•^ฅ
╠╣APPY
BIRT╠╣DAY!""")

Triple Quotes
ฅ^•ﻌ•^ฅ
╠╣APPY
BIRT╠╣DAY!

In [14]:
print("String inside the quotes")
print('Python\'s World')

String inside the quotes
Python's World

In [17]:
print("Escape Sequence of String")
print("Hello\tPython")
print("Hello\nPython")
print("Hello\aPython")

Escape Sequence of String
Hello	Python
Hello
Python
HelloPython

In [40]:
name = "Raja"
mark = 70.876
age =19
print("The name is", name,    "marks is", mark,    "age is", age)

The name is Raja marks is 70.876 age is 19

In [10]:
name = "Raja"
mark = 70.876
age =19
print("The name of person is %10s marks is %10.2f age is %10d" %(name,mark, age))

The name of person is       Raja marks is      70.88 age is         19

In [11]:
name = "Raja"
mark = 70.876
age =19
print(f"the name of th person is {name} the marks is {mark} age is {age}")

the name of th person is Raja the marks is 70.876 age is 19

In [26]:
print("power")
10**8

power

100000000

In [27]:
print("addition")
10+40

addition

50

In [28]:
print("Subraction")
50-60

Subraction

-10

In [30]:
print("division")
70/2

division

35.0

In [22]:
30//3

10

In [31]:
print("modulus")
20%3

modulus

2

In [33]:
a=10
b=20
a==b

False

In [34]:
c=10
a==c

True

In [35]:
c <= a

True

In [36]:
a=!b

In [38]:
str1 = "annaconda.com"
"f" not in str1

True